@use '../../../styles/cards' as c;
@use '../../../styles/variables' as v;


.transaction {
  @include c.cardSecundary();
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  color: v.$color-font-primary;
  &__title{
    h5 {
      font-family: v.$font-family;
      font-size: 1.5rem;
      font-weight: 300;
    }
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__info {
    text-align: end;
    line-height: 1.5rem;
  }
  &__amount {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__date {
    font-weight: 200;
    font-size: 0.76rem;
  }

  &__icon {
    width: 1.50rem;
    height: 1.50rem;
    border-radius: 50%;
    text-align: center;
    display: grid;
    place-items: center;
    &-income {
      background: v.$income-icon-bg-color;
    }
    &-expenses {
      background: v.$expense-icon-bg-color;
    }
  }
  &__remove {
    cursor: pointer;
    vertical-align: middle;
    font-size: 1rem;
    display: grid;
    place-items: center;
    &:hover {
    color: v.$expense-icon-bg-color;
    }
  }

  &__amount-expense {
    color: v.$color-font-red;
  }
  &__amount-income {
    color: green;
  }
}


